/* General Styling Start */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url(images/cursor.png), auto;
}

/*
::-webkit-scrollbar {
    background-color: #fff1f1;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}
*/

section {
    padding: 100px 150px;
    min-height: 100vh;
}

h3.title {
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
}

/* General Styling End */